/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --white:#fff;
    --black:#222;
    --primary: #553970;
    --grey: #888;
    --secondary:#BA55D3;
    --light-secondary:#edd0f5;
    --light-pink:#ffd6d6;

}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: 'poppins','serif','san-serif';
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1.6px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;

}
 h1 {
  font-size: 48px;
 }
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size:14px;
}
.d-flex{
  display: flex;
  align-items: center;

}
.text-primary {
  color:var(--primary) !important;
}
.text-bold{
  font-weight:bold;
}
.text-slanted {
  font-family: 'Kaushan Script', cursive;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}




.promo{
  background-color: var(--secondary);
  text-align: center;
  color:var(--white);
  padding:5px 0;
}
.navbar{
  display: flex;
  align-items: center;
  padding:20px;
}
nav {
  flex:1;
  text-align: center;
}
nav ul{
  display:inline-block;
  list-style-type: none;

}

nav ul li{
  display: inline-block;
  margin-right: 20px;
  color:var(--primary);
}

nav ul hr{
  display: none;
}


.icons div{
  font-size: 20px;
  padding:8px;
  cursor:pointer;
  transition: all 300ms ease-in-out;

}
.icons div:not(:last-child) {
margin-right: 8px;
}

.icons div:hover {
color: var(--secondary);
}

.icons div:nth-last-child(2){
  position: relative;
}
 .icons div span{
  position:absolute;
  top:-8px;
  right:-18px;
  font-size: 16px;
  font-weight: 600;
  color:var(--white);
  background-color: var(--secondary);
  height:35px;
  width:35px;
  border-radius: 50%;

}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;

}
a:hover{
  color:var(--secondary)
}
p{
  color:var(--black);
}
.container{
  max-width:1300px;
  margin:auto;
 /*  padding-left:25px;
  padding-right:25px; */
}
.header{
  background: radial-gradient(var(--white),var(--light-pink));
}
.header .rowClass{
  margin-top:70px;
}
.menu-icon{
  width:28px;
  margin-left:10px;
  display: none;
}

.rowClass{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-left,.col-right{
  flex-basis:50%;
  min-width:300px;
}
.rowClass .col-left{
  padding-left:25px;
  padding-right:25px;


  }
.col-right img{
  max-width: 100%;
  padding: 30px 0;

}
.col-left h1{
  font-size: 50px !important;
  line-height: 60px !;
  margin: 30px 0;

}

.btn{
  display: inline-block;
  background: var(--secondary);
  color:#fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: all 0.5s;
}
.btn:hover{
  background: var(--primary);
  color:#eee;

}

/*
===============
Cart
===============
*/
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  opacity: 0;
  z-index: -1;
}
.cart-overlay.show {
  opacity: 1;
  z-index: 100;
}
.cart {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50%;
  max-width: 400px;
  background:#f1e8e9;
   padding: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition:all 0.3s linear;
  transform: translateY(-100%);

  border-radius: 2px ;
}
.show .cart {
  transform: translateY(0);
}
.cart-close {
  font-size:32px;
  background: transparent;
  border-color: transparent;
  color: var(--primary);
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  outline:none;
}
.cart header {
  text-align: center;

}
.cart header h3 {
  font-weight: 500;
}
.cart-total {
  text-align:center;
  margin-bottom: 32px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;
  font-weight: 400;
}
.cartAddedFooter{
  margin-bottom:20px;
  margin:0 auto;
}
.cartRefBtn{
  padding: 12px 100px;
  margin-top:0px !important;
}
/* .cart-checkout {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
} */
/* cart item */


.cart-item {
  margin: 10px 20px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  align-items: center;
}
.cart-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;

}
.cart-item-name {
  margin-bottom: 2.4px;
}
.cart-item-price {
  margin-bottom: 0;
  font-size: 20px;
  color: var(--grey);
}
.cart-item-remove-btn {
  background: transparent;
  border-color: transparent;
  color: var(--grey);
  letter-spacing:1.6px;
  cursor: pointer;
}
.cart-item-amount {
  margin-bottom: 0;
  text-align: center;
  color: var(--grey);
  line-height: 1;
}
.cart-item-increase-btn,
.cart-item-decrease-btn {
  background: transparent;
  border-color: transparent;
  color: var(--primary);
  cursor: pointer;
  font-size: 14px;
  padding: 4px;
  outline:none;

}
.btnShopping{
  display: block;
  margin: 0 auto;
  border:none;
  background: transparent;
  color:#d097df;
  border-bottom:1px solid #d097df;
  font-size: 14px;
  position:static !important;
}

.btnShopping:hover{
  color:#BA55D3;
  border-bottom:1px solid #BA55D3;

}


/* cart item Ending */


/* Categories section */

.categories{
  margin: 50px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 300px;
  margin-bottom:30px;
  position: relative;

}
.col-3 img{
  width:100%;
  transition: 1s;
  cursor: pointer;
  border-radius: 5px;
}
.col-3 img:hover
{
    transform: scale(1.1);
}
.col-3 h3{
  position:absolute;
  top:30%;
  left:40%;
  color:#fff;
  font-weight:normal;
  padding-bottom: 20px;

}
.col-3 a{
  position:absolute;
  top:40%;
  left:37%;
  margin-top:10px;
  padding: 5px 5px;
  color:#fff;
  text-transform:capitalize;
  font-weight: normal;
  transition: all 0.5s ease-out;

}

.col-3 a:hover{
  border: 1px solid white;
  border-radius: 0px;
}
.sm-container{
  max-width:1200px;
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;

}


/* Categories Section Ending */


/* New Products Section  */

 .title{
  text-align: center;
  margin: 0px auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

 .title::after{
  content: '';
  background:var(--primary);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
 .col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 35px;
  text-align: center;
  transition: transform 0.5s;
}
.section-loading {
  text-align: center;
  transform: translate(-50%, -50%);

}
.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-4 img{
  width: 100%;
}
.col-4 h4 a{
  color: var(--primary);
  font-weight: bold;

}
.col-4 p{
  font-size: 14px;
}

.col-4:hover{
  transform: translateY(-5px);
}
.overlay-right
{
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa
{

    cursor: pointer;
    color:#000;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 17px;
    transition: all 300ms ease-in-out;
}


 .overlay-right .side-buttons{

    background: none !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;

}

.product-top:hover .overlay-right
{

    opacity: 1;
    transition: 0.5s;
}
.overlay-right .fa:hover
{
  color:var(--white);
  background-color: var(--primary);

}

/* Offers */
.offer{
  background: radial-gradient(var(--white),var(--light-pink));
  margin-top:80px;
  padding: 30px 0;
}

.col-left .offer-img{
  padding: 20px;


}
.offer .col-right p{
  text-align: center;
  color:#ff523b;
  font-weight: bold;
  margin-bottom:10px;
}

small{
  color:#555;
  text-align: left;
}

/* Brands Section */

.brands{
  margin:100px auto;
}

.col-5{
  width:160px;
}

.col-5 img{
  width:100%;
  cursor:pointer;
  filter:grayscale(100%);
}

.col-5 img:hover{
  filter:grayscale(0%);
}

/* Footer Section Start */

.footer{
  background:var(--black);
  color:var(--white);
  padding:60px 0 20px;
  font-size: 14px;
  width: 100%; 
  
}

.footer-col1,.footer-col2,.footer-col3,.footer-col4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer h3{
  font-size: 15px;
    margin: 25px 0;
  color:var(--white);


}
.footer-col1,.footer-col2,.footer-col3,.footer-col4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col4{
  flex-basis: 30%;
}
.footer-col1,.footer-col2,.footer-col3{
  flex-basis: 20%;
  text-align: center;
}
.footer p
{
    font-size: 12px;
    color:var(--white) !important;
}
.footer .rowClass .fa
{
    padding-right: 20px;
    font-size: 15px;
}
.footer-bottom{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-img{
  width:240px;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin:  20px 0;
}
.copyright{
  text-align: center;

}
.footer p a{
  color:var(--white);

}


/* Media Query */
@media only screen and (max-width: 800px) {


  nav ul{
      position: absolute;
      top: 110px;
      left: 0;
      background: #ffdee2;
      width: 100%;
      overflow: hidden;
      transition: 1s;
      max-height: 0;
      transition:max-height 0.5s;
      z-index: 2;
      }

  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
      }
      nav ul hr{
        display: block;
      }
  nav ul li a{
    color:var(--black);
      }

  .menu-icon{
          display: block;
          cursor: pointer;
      }
      .col-left .offer-img{
        width:90%;
      }
      .col-left p{
        text-align:left;
      }
      .footer-bottom img{

        padding-bottom:20px;
      }
  }
  /*---------- 600 media query -------*/
@media only screen and (max-width: 600px){

  .rowClass{
    text-align: center;
  }

  .col-1, .col-2, .col-3, .col-4{

      flex-basis: 100%;
  }
  .allproducts .rowClass{

    display: block;
  }
  .productsTitle{
    padding-bottom:25px
  }
  .cart{
    max-width:100%;
  }


}

/* All Products page */
.allproducts,.accountsPage,.cartsPage{
  background: var(--light-pink);
}
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid #ce7f74;

  padding: 5px;
  border-radius: 3px;
}
select:focus{
  outline: none;
}
.select{
  display: flex;
  align-items: center;
}
.select h5{
  padding: 5px;
  color: var(--primary);
  font-size: 15px;
  font-weight: normal;
}
.select option{
  text-transform:capitalize;
}
.select > div{
  padding-right:8px;
}
/* All Products page- search form  */
.search-form {
  margin-left: auto;
  margin-right: auto;
	opacity: 0;
	width: 100%;
	max-width:500px;
	background: rgb(245, 189, 189);
	padding: 16px;
  border-radius: 10px;
  position:relative;
	transition: all 0.3s ease;
}
.search-form input {
	width: 95%;
	font-size: 22px;
	padding: 6px;
	color: 	#545454;
}
.search-form input:focus {
	outline: none;
}
.searchbtn{
  padding: 6px;
  font-size: 22px;
  color:#545454;
  position:absolute;
  right:45px;
  top:18px;
  border:none;
  background: #fff;
}
.filter-errmsg{
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

/* All Products page  end*/

/* About us page */
.about-us,.single-product-container{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;

}
.about-row,.single-product{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.aboutTitle{
  text-align: center;
}
.about-col,.single-product-col{
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col h3, .single-product-col h3{
  padding-top: 0;
}
.about-col p,.single-product-col p{
  padding: 15px 0 25px;
}

.btnAbout{
  border-radius:5px;
  text-transform:uppercase;
}
.about-col img, .single-product-col img{
  width: 100%;
  border-radius: 10px;
}
.subscribe{
  margin-top: -5%;
  background-color: #f0f0f0;
  color:var(--secondary) !important;
  padding:0 40px;

}
.subscribe h1{
  color:var(--primary);
}
.subscribe p{
  color:var(--primary);

}
section.subscribe .input-wrap{

  display:flex;
  padding:5px;
  border-radius:4px;
}
.input-wrap input{
  width:80%;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 2px;
  padding: 0 16px;
  font-size: 16px;
}
.subscribe .input-wrap input:focus{
  outline:none;
}
.subscribe .input-wrap button{
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  padding:5px;

  outline: none;
}
.subscribe .input-wrap button:hover{
  background-color:var(--secondary);
  color:var(--white);
}



@media (max-width:968px){
  .about-row, .single-product{
      flex-direction: column;
  }

}





/* Carts Page */


.cart-button{
  margin: 80px auto;
}
.cartPageTitle{
  margin-top:40px;
  text-align: center;
}

table{
  width: 100%;
   border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: var(--white);
  background:var(--primary);
  font-weight: normal;
}

td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #ff523b;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}


.cartPageTotalDiv, .checkout-section{
  display: flex;
  justify-content: flex-end;
}
.cartPageTotalDiv{

  border-top: 3px solid var(--primary);
  padding-top:50px;
}
.cartPageTotalDiv table{
  width: 100%;
  max-width: 350px;

}
.quantity{
  width:70px;
  height: 30px;
  border-radius:2px;
  outline:none;
  border:1px solid var(--secondary);
}



td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.cart-empty{
  color:var(--primary);

  margin: auto 80px;
  padding-top: 80px;
  padding-bottom: 50px;

}
.numberError{
  display: none;
  font-size: 12px;

  padding-top:5px;

}
.numberError .fa-exclamation-circle{
  font-size: 18px;
  padding-right: 6px;
  color: red;
}

/* Accounts sign-in/sign-up page */


.form{
  position: relative;
  z-index: 1;
  background:rgb(230, 163, 186);
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input{
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--primary);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,.form button:active{
  background:var(--primary);
}

.form .message{
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
}

.form .message a{
  color:var(--primary);
  text-decoration: none;
}

.form .register-form{
  display: none;
}
.titleAccounts{
  color: var(--primary);
  padding: 20px;
}

/* Blog post Section */
.post-content{
  margin-top: 40px;
}
.site-content{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 30% 70%;

}

.post-content > .post-image,.post-title{
  padding: 16px 32px;
}
.post-content > .post-image{
  position:relative;
}
.post-content > .post-image .post-info{
  background: skyblue;
  padding:10px;
  color:var(--secondary);
  position: absolute;
  bottom:0%;
  left:27vw;
  border-radius: 5px;
}
.site-content .post-content> .post-image > div{
  overflow: hidden;
}
.post-content >.post-image img{
  width:100%;
  transition: all 1s ease;
}
.post-content >.post-image img:hover{
  transform:scale(1.2);

}
.post-content .post-title a{
  font-size: 24px;
  font-weight: bold;
  color:var(--primary);
}

.post-content .post-title p{
  color:var(--grey);
}
.site-content hr{
  border: 2px solid #e6a1a9;
  border-radius: 5px;
}
.category{
  margin-top:60px;
}

 .category-list .list-items{
   list-style-type: none;
  background:rgb(189, 218, 230);
  padding: 6px 16px;
  margin:13px 0;
  border-radius: 50px;
  width:80%;
  display: flex;
  justify-content: space-between;

}
.category-list .list-items a{
  color:var(--black);
}
.popular-post .post-content{
  padding:16px 0;
}
.popular-post h2{
  padding-top:140px;
}
.popular-post .post-info{
  padding: 6px 2px !important;
  bottom: 0px !important;
  left :24px !important;
  border-radius: 0px !important;
  background: var(--light-pink) !important;
}
.popular-post .post-title a{
  font-size: 16px;
}


@media only screen and (max-width: 1130px){
  .post-content > .post-image .post-info{
    left: 32px !important;
    bottom:2% !important;
    border-radius: 0% !important;
  }
  .sidebar .popular-post .post-info{
      display: none !important;
  }

}

@media only screen and (max-width: 850px){
  .site-content{
    grid-template-columns: 100%;
 }
 .site-content{
   padding-left: 60px !important;
 }
 .post-content .post-title a{
  align-items: center;

 }
 .post-content .post-title p{
  align-items: center;
}
}

/* single product details page */

/* same as about -us page */

.single-product-col img{
  width:90%;
  height:80vh;

}
.single-product-col input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ce7f74;
  border-radius: 10px;
}
.single-product-col input:focus{
  outline: none;
}
.single-product-price {
  font-weight: bold;
  font-size:30px;
  color:var(--primary);
}
.single-product-title, .productTitle{
  font-weight:normal;
  font-size:40px;
}
.single-product-company{
  font-weight: bold;
  font-size:20px;
  text-transform: capitalize;
  color:var(--secondary);
}

.error{
  color:red;
  font-size:25px;
}


/* Pagination Start */
.pagination {
  padding: 10px auto;
}

.pagination span {
  display: inline-block;
  padding: 10px 14px;
  background-color: rgb(230, 134, 134);
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-left: 8px;
}

.pagination span:hover {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
}


.checkoutBtn{
  background-color: #eeeeee;
  font-size: 20px;
  color: var(--primary);
}
.checkoutBtn:hover{
  background-color: white !important;
  color:var(--secondary);

}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .7);
  cursor: wait;
}









